<!DOCTYPE html>
<!--

    Welcome to the light side of the source, young padawan.

    One step closer to learn something interesting you are...

                               ____                  
                            _.' :  `._               
                        .-.'`.  ;   .'`.-.           
               __      / : ___\ ;  /___ ; \      __  
             ,'_ ""=-.:__;".-.";: :".-.":__;.-="" _`,
             :' `.t""=-.. '<@.`;_  ',@:` ..-=""j.' `;
                  `:-.._J '-.-'L__ `-.-' L_..-;'     
                    "-.__ ;  .-"  "-.  : __.-"       
                        L ' /.======.\ ' J           
                         "-.   "__"   .-"            
                        __.l"-:_JL_;-";.__           
                     .-j/'.;  ;""""  / .'\"-.        
                   .' /:`. "-.:     .-" .';  `.      
                .-"  / ;  "-. "-..-" .-"  :    "-.   
             .+"-.  : :      "-.__.-"      ;-._   \  
             ; \  `.; ;                    : : "+. ; 
             :  ;   ; ;                    : ;  : \: 
             ;  :   ; :                    ;:   ;  : 
            : \  ;  :  ;                  : ;  /  :: 
            ;  ; :   ; :                  ;   :   ;: 
            :  :  ;  :  ;                : :  ;  : ; 
            ;\    :   ; :                ; ;     ; ; 
            : `."-;   :  ;              :  ;    /  ; 
             ;    -:   ; :              ;  : .-"   : 
             :\     \  :  ;            : \.-"      : 
              ;`.    \  ; :            ;.'_..-=  / ; 
              :  "-.  "-:  ;          :/."      .'  :
               \         \ :          ;/  __        :
                \       .-`.\        /t-""  ":-+.   :
                 `.  .-"    `l    __/ /`. :  ; ; \  ;
                   \   .-" .-"-.-"  .' .'j \  /   ;/ 
                    \ / .-"   /.     .'.' ;_:'    ;  
                     :-""-.`./-.'     /    `.___.'   
                           \ `t  ._  /               
                            "-.t-._:'                

-->
<html ng-app='utopia'>
<head>
    <meta name="description" content="Agile software project management tool" />
    <meta name="keywords" content="Agile made easy" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="Cache-control" content="public"/>
    
    <link rel="stylesheet" type="text/css" href="dist/utopia.min.css" />
    <title>Utopia</title>
</head>
<body>
     <!-- Nav bar -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/">Utopia</a>
          <div class="nav-collapse collapse menu-bar">
            <ul class="nav">
              <li class="" ng-repeat='menu in menues'>
                <a href="{{menu.href}}">{{menu.text}}</a>
              </li>
            </ul>
          </div>
          <span class="custom-flash alert {{flashClass}}" ng-bind="flashMessage" ng-show='flashShow' ng-animate="'animate'"></span>
        </div>
      </div>
    </div>
    <!-- Main body container -->
    <div class="container ng-view">
        <div ng-view>
        </div>
    </div>

    <footer class='text-center footer'>Chinmay Kulkarni production 2013 &copy</footer>

    <!-- ng-templates -->
    <script type="text/ng-template" id="login">
    <!-- Login View -->
        <div class='row-fluid'>
            <div class='span9'>
            <!-- Login Carousel -->
            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                    <h1>Agile project management</h1>
                    <span>Simple yet powerful</span>
                </div>
                <div class="item">
                    <h1>Interactive dashboards</h1>
                    <span>Know the current state of your project</span>
                </div>
                <div class="item">
                    <h1>Beautiful timeline view</h1>
                    <span>Get to know who's working on what</span>
                </div>
                <div class="item">
                    <h1>Emphasis on planning and testing</h1>
                    <span>It's important</span>
                </div>
                 <div class="item">
                    <h1>Customizable whiteboards</h1>
                    <span>Make Utopia your own!</span>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            </div>
            <!-- Login form -->
            <form class="span3 login-form">
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="email" id="username" placeholder="Email" ng-model='username' required>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" id="password" placeholder="Password" ng-model='password' required>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox"> Remember me
                  </label>
                  <input type="submit" class="btn" ng-click='submit()'></input>
                </div>
              </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="logout">
    <!-- Logout View -->
        <div class='row-fluid'>
            <h1>You have successfully logged out.</h1>
            <span>Click <a href='#/login'>here</a> to login.</span>
        </div>
    </script>

    <script type="text/ng-template" id="projects">
    <!-- Landing View -->
        <div class='row-fluid'>
            <h1>My projects</h1>
            <div class='project' ng-repeat="project in projects" ng-click='load_project()'>
                <h3>{{project.title}}</h3>
                <p>{{project.description}}</p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="under-construction">
    <!-- under-contruction View -->
        <div class='row-fluid'>
            <h1>This page is under construction</h1>
        </div>
    </script>

    <script type="text/ng-template" id="whiteboard">
    <!-- whiteboard View -->
        <div class='row-fluid'>
            <ul class="nav nav-pills">
                <li><a href='#/projects/{{project_id}}/dashboard'>Dashboard</a></li>
                <li class='active'><a href='#/projects/{{project_id}}/whiteboard'>Whiteboard</a></li>
                <li><a href='#/projects/{{project_id}}/timeline'>Timeline</a></li>
                <li><a href='#/projects/{{project_id}}/planning'>Planning</a></li>
            </ul>
        </div>
        <div class="row-fluid" >
            <div class="span4" id='side-pane'>
                <legend class='input-prepend no-margin'>
                     <span class="add-on">My workitems</span>
                     <input type="text" ng-model='query' placeholder='Search...'>
                     <span class="add-on">
                        <i class="icon-search hover-hand" ng-click='search()'></i>
                     </span>
                     <span class="add-on" ng-click="predicate = 'importance'; reverse=!reverse">
                        <i class="hover-hand icon-signal" title='Sort by priority'></i>
                     </span>
                </legend>
                <ul class='unstyled workitems' resize ng-style='style()'>
                  <li class='padding'>
                    <a class='workitem-anchor workitem' ng-repeat='wk in workitems' ng-class="{true : 'selected', false : ''}[wk.id==swkitm.id]" ng-animate="'animate'" href="#projects/{{project_id}}/whiteboard?id={{wk.id}}">
                    <span class="badge pull-right" ng-class="{0:'badge-important', 1: 'badge-success', 2: 'badge-warning'}[wk.importance]" title='Priority'>{{wk.importance}}</span>
                    <span><b>{{wk.title}}</b></span>
                    <p>
                        <span class='text-info '>{{getType(wk.type)}}</span>
                        <span class='muted capitalize'>{{getState(wk.state)}}</span>
                        <small class='pull-right'><i>Last updated: {{ago(wk.last_updated)}}</i></small>
                    </p>
                    </a>
                  </li>
                </ul>
                </div>
            <div class="span8" id='details-pane'>
                <legend class='input-prepend'>
                    <h4>Details- <small>
                        <abbr title='{{getBreakDown()}}'><b>{{workitems.length}}</b></abbr> to go !
                    </small>
                    <ul class="pull-right" ng-show='swkitm'>
                        <li class="btn btn-small no-decoration">
                            <i class="icon-cog"></i>
                            <span class="caret"></span>
                        </li>
                        <li class="btn btn-small no-decoration" ng-click='deleteWorkitem()'>Delete</li>
                        <li class="btn btn-primary btn-small no-decoration" ng-click='saveWorkitem()'>Save</li>
                    </ul>
                    </h4>
                </legend>
                <div class='row-fluid' ng-show='swkitm'>
                    <table class='table-condensed span6' resize ng-style='style()'>
                        <tr class='hover-hand'>
                            <td><small>ID</small></td>
                            <td><code><span ng-bind="swkitm.id"></span></code></td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td><input type='text' ng-model='swkitm.title'/></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><textarea type='text' ng-model='swkitm.description'></textarea></td>
                        </tr>
                        <tr>
                            <td>Importance</td>
                            <td>
                                <span class='badge hover-hand' ng-class="{true:'badge-important', false:''}[0==swkitm.importance]" ng-click='setImportance(0)'>0</span>
                                <span class='badge hover-hand' ng-class="{true:'badge-success', false:''}[1==swkitm.importance]" ng-click='setImportance(1)'>1</span>
                                <span class='badge hover-hand' ng-class="{true:'badge-warning', false:''}[2==swkitm.importance]" ng-click='setImportance(2)'>2</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Story points</td>
                            <td>
                                <span class='badge hover-hand' ng-class="{true:'badge-info', false:''}[0==swkitm.story_points]" ng-click='setStoryPoints(0)'>!</span>
                                <span class='badge hover-hand' ng-class="{true:'badge-info', false:''}[1==swkitm.story_points]" ng-click='setStoryPoints(1)'>!!</span>
                                <span class='badge hover-hand' ng-class="{true:'badge-info', false:''}[2==swkitm.story_points]" ng-click='setStoryPoints(2)'>!!!</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>
                                <select class='input-medium'
                                   chosen ng-model="swkitm.type"
                                   ng-options="t.id as t.title for t in types"
                                   ng-change='updateStates()'>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>
                                <select class='input-medium'
                                   chosen ng-model="swkitm.state"
                                   ng-options="t.id as t.title for t in states">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Assigned to</td>
                            <td>
                                <select class='input-medium'
                                   chosen ng-model="swkitm.assigned_to"
                                   ng-options="t.id as t.display_name for t in users">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Created by</td>
                            <td>
                                <select class='input-medium'
                                   chosen ng-model="swkitm.created_by"
                                   ng-options="t.id as t.display_name for t in users">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Planned for</td>
                            <td><a ng-model='swkitm.planned_for'>{{getSprint(swkitm.planned_for)}}</a></td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td><span type='text'>{{swkitm.created_date | date: 'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td>Last updated</td>
                            <td><span ng-model='swkitm.last_updated'>{{swkitm.last_updated | amTimeAgo}}</span></td>
                        </tr>
                    </table>
                    <div class="span6" resize ng-style='style()'>
                        <h6 class='hover-hand' ng-click='tasksCollapse = !tasksCollapse'>Todos</h6>
                        <ul class="unstyled" collapse='tasksCollapse'>
                            <li class='hover-parent' ng-repeat="task in tasks" ng-animate="'animate'">
                                <button class="close hover-child" ng-click='deleteTask()'>x</button>
                                <label class='checkbox' >
                                  <input type="checkbox" ng-click='toggleTask()' ng-model="task.done" ng-checked="task.done==1">
                                  <span class="done-{{task.done}}" ng-click='toggleTask()'>{{task.task}}</span>
                                </label>
                            </li>
                            <li>
                            <form ng-submit="addTask()">    
                                <input type="text" ng-model="newTask"  size="30"
                                       placeholder="add some tasks!">
                                <input class="btn input-append btn-mini" type="submit" value="Add">
                            </form>
                            </li>
                        </ul>
                        
                        <h6 class='hover-hand' ng-click='activityCollapse = !activityCollapse'>Activity</h6>
                        <ul class='unstyled' collapse='activityCollapse'>
                        <li>
                        <blockquote class="comments hover-parent" ng-repeat='comment in comments' ng-animate=" 'animate' ">
                            <button class='close pull-right hover-hand hover-child' type='button' ng-show='comment.created_by == currentUser' ng-click='deleteComment($index)'>x</button>
                            <p><pre>{{comment.comment_body}}</pre></p> 
                            <small>by {{getUser(comment.user_id)}}, {{ago(comment.created_at)}}</small> 
                        </blockquote>
                        </li>
                        <li>
                        <form ng-submit='addComment()'>
                            <textarea ng-model='newComment'></textarea>
                            <input type='submit' class="btn btn-mini" value='Add'></input>
                        </form>
                        </li>
                        </ul>
                    </div>
                </div>
                <div ng-show='!swkitm'>
                    <blockquote class='text-center'>
                    <h2><small>Select a workitem from pane</small></h2>
                    </blockquote>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="timeline">
    <!-- timeline View -->
        <div class='row-fluid'>
            <ul class="nav nav-pills">
                <li><a href='#/projects/{{project_id}}/dashboard'>Dashboard</a></li>
                <li><a href='#/projects/{{project_id}}/whiteboard'>Whiteboard</a></li>
                <li class='active'><a href='#/projects/{{project_id}}/timeline'>Timeline</a></li>
                <li><a href='#/projects/{{project_id}}/planning'>Planning</a></li>
            </ul>
        </div>
        <div class="row-fluid" resize ng-style='style()' id='internal-view'>
            <div class='span3'>
                <div ut-filter-pane></div>
            </div>
            <div class="span9">
                <div class='align-right'>
                <label class="radio inline"><b>Sort by</b></label>
                <label class="radio inline">
                  <input type="radio" name="grouping" id="optionsRadios1" ng-click="sortPredicate = 'user_id'">
                  User
                </label>
                <label class="radio inline">
                  <input type="radio" name="grouping" id="optionsRadios2" ng-click="sortPredicate = 'workitem_id'">
                  Workitem
                </label>
                </div>
                <ul class="timeline unstyled">
                <li ng-repeat='l in logs | orderBy:sortPredicate:reverse' ng-switch='l.log_type'>
                    <span ng-switch-when="workitem_log">
                        <span>
                            <i class="icon-edit"></i> {{getUser(l.user_id)}}
                            <small title='{{l.timestamp | date:"medium"}}' class='pull-right'>{{l.timestamp | amTimeAgo}}</small>
                        </span>
                        <span class="muted">changed </span>{{l.action}} 
                        <span class="muted">from </span>{{getValue(l.old_value, l.action)}}
                        <span class="muted">to </span>{{getValue(l.new_value, l.action)}} 
                            for
                    </span>
                    <span ng-switch-when="task_log">
                        <span>
                            <i class="icon-ok"></i> {{getUser(l.user_id)}}
                            <small title='{{l.done_date | date:"medium"}}' class='pull-right'>{{l.last_updated | amTimeAgo}}</small>
                        </span>
                        <span class="muted">completed task</span> {{l.task}}
                    </span>
                    <span ng-switch-when="comments">
                        <span>
                            <i class="icon-comment"></i> {{getUser(l.user_id)}}
                            <small title='{{l.created_at | date:"medium"}}' class='pull-right'>{{l.created_at | amTimeAgo}}</small>
                        </span>
                        <span class="muted">commented</span> {{l.comment_body}}
                        <span>
                            on 
                        </span>
                    </span>
                    <span> workitem <button class='btn btn-small' type="button" data-placement="right" data-title="Workitem details" data-unique="1" bs-popover="'workitem-details'" ng-click="fetchDetails(l.workitem_id)">#{{l.workitem_id}}</button></span>
                </li>
                </ul>
            </div>
        </div>
    </script>
    
    <script id="filter-pane" type="text/ng-template">
    <!-- filter pane -->
        <div class="well text-left side-nav affix">
            <legend>Filter</legend>
            <strong>By workitem ID</strong>
            <label>
                <input type="text" ng-model='workitem_ids'/>
            </label>
            <div><strong>By users</strong></div>
            <select
                chosen
                multiple='true'
                ng-model='selectedUsers'
                ng-options='t.id as t.display_name for t in users'/>
            <div>
                <strong>By date</strong>
            </div>
            <label>
                <div>Start</div>
                <input type="date" ng-model='from' />
            </label>
            <label>
                <div>End</div>
                <input type="date" ng-model='to' />
            </label>
            <!-- <div><strong>Group by</strong></div>
            <label class="radio inline">
              <input type="radio" name="group-radios" value="User" checked>
              User
            </label>
            <label class="radio inline">
              <input type="radio" name="group-radios" value="Workitem">
              Workitem
            </label> -->            
            <div>
                <input type='button' class="btn btn-medium pull-right" ng-click='applyFilter()' value='Apply' />
            </div>
            </form>
        </div>
    </script>

    <script id='workitem-details' type="text/ng-template">
         <a href='#projects/{{project_id}}/whiteboard/?id={{swkitm.id}}' class='icon-share-alt hover-hand pull-right' title='Open in whiteboard'></a>
         <table class='table-condensed workitem-details' ng-show='swkitm'>
            <tr class='hover-hand'>
                <td><small>ID</small></td>
                <td><code><span ng-bind="swkitm.id"></span></code></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><span type='text' ng-bind='swkitm.title'></span></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><span type='text' ng-bind='swkitm.description'></span></td>
            </tr>
            <tr>
                <td>Importance</td>
                <td>
                    <span class='badge'>{{swkitm.importance}}</span>
                </td>
            </tr>
            <tr>
                <td>Points</td>
                <td>
                    <span class='badge hover-hand'>{{swkitm.story_points}}</span>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    {{getType(swkitm.type)}}
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                   {{getState(swkitm.state)}}
                </td>
            </tr>
            <tr>
                <td>Assigned</td>
                <td>
                   {{getUser(swkitm.assigned_to)}}
                </td>
            </tr>
            <tr>
                <td>Created</td>
                <td>
                   {{getUser(swkitm.created_by)}}
                </td>
            </tr>
            <tr>
                <td>Sprint</td>
                <td>{{getSprint(swkitm.planned_for)}}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td><span type='text'>{{format(swkitm.created_date)}}</span></td>
            </tr>
        </table>
        <table ng-show='!swkitm'>
        <tr>
            <td>Just a sec!</td>
            <td><div class='spinner-icon spinner-inverse'></td>
        </tr>
        </table>
    </script>

    <script type="text/ng-template" id='planning'>
    <!-- planning view -->  
      <div class='row-fluid'>
          <ul class="nav nav-pills">
              <li><a href='#/projects/{{project_id}}/dashboard'>Dashboard</a></li>
              <li><a href='#/projects/{{project_id}}/whiteboard'>Whiteboard</a></li>
              <li><a href='#/projects/{{project_id}}/timeline'>Timeline</a></li>
              <li class='active'><a href='#/projects/{{project_id}}/planning'>Planning</a></li>
          </ul>
      </div>
      <div style='padding:5px;margin-top:-20px;'>
          <button class='btn' type="button" data-title="Create a new sprint" bs-popover="'new-sprint'"><i class='icon-plus'></i>Sprint</button>
      </div>
      <div style='overflow:scroll'>
      <table class='sprint-table' resize ng-style="style()" id="internal-view">
      <tr>
        <td class='sprint-panel'  
            ng-repeat="sprint in sprints" 
            data-drop="true" 
            ng-model="sprint.workitems" 
            jqyoui-droppable="{multiple:true , onDrop: 'setSprintDrop({{sprint.id}})'}"
            data-jqyoui-options="{index: {{$index}}}" >

            <div class='sprint-panel-header'>
                {{sprint.title}}
                <span class="btn-group pull-right">
                 <i class='icon-plus' 
                  title='New workitem' bs-popover="'new-workitem'"></i>
                  <i class="icon-cog" bs-dropdown="[{text: 'Edit', click:'sprintModal(\'edit\',sprint.id)', href:''}, {text: 'Delete', click:'sprintModal(\'delete\',sprint.id)'}]" persist="true"></i>
                </span>  
            </div>
            <div resize ng-style="style()" id='internal-view'>
            <div class='sprint-workitems hover-hand' 
                ng-repeat='wk in sprint.workitems' 
                data-drag="true" 
                ng-show="wk.id" 
                ng-model="sprint.workitems" 
                data-jqyoui-options="{index: {{$index}}, revert: 'invalid', appendTo: 'body', helper: 'clone' }" 
                jqyoui-draggable="{index: {{$index}}, animate:true, onDrag: 'setWorkitemDrop({{wk.id}})'}">

                <span class="badge pull-right" 
                      ng-class="{0:'badge-important', 1: 'badge-success', 2: 'badge-warning'}[wk.importance]" 
                      title='Priority'>
                      {{wk.importance}}
                </span>
                <button class='btn btn-mini' type="button" data-placement="right" data-title="Workitem details" data-unique="1" bs-popover="'workitem-details'" ng-click="fetchDetails(wk.id)">#{{wk.id}}</button></span>
                <span><b>{{wk.title}}</b></span>
                <p>
                  <span class='text-info'>{{getType(wk.type)}}</span>
                  <span class='muted capitalize'>{{getState(wk.state)}}</span>
                  <small class='pull-right'><i>Last updated: {{wk.last_updated | amTimeAgo}}</i></small>
                </p>
            </div>
            </div>
        </td>
      </tr>
      </table>
      </div>
    </script>

    <script type="text/ng-template" id='new-sprint'>
    <!-- new-sprint -->
      <form ng-submit="createSprint(newsprint)">
        <input type='text' placeholder='Title' ng-model='newsprint.title' required/>
        <textarea placeholder='Set some goals for this sprint !' ng-model='newsprint.goals' />
        <button class='btn btn-primary' type="submit">Create</button>
      </form>
    </script>

    <script type="text/ng-template" id='new-workitem'>
    <!-- new workitem -->
    <h1>Here you shall add a new workitem</h1>
    </script>

    <script type="text/ng-template" id='edit-sprint'>
    <!-- edit a sprint -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3>Edit sprint: {{selectedSprint.title}}</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" placeholder="Title" ng-model='selectedSprint.title' />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Goals</label>
          <div class="controls">
            <textarea placeholder="Set some goals" ng-model='selectedSprint.goals' />
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn" ng-click="hide()">Close</button>
          <button class="btn btn-primary" ng-click="hide();editSprint();">Save changes</button>
      </div>
    </script>

    <script type="text/ng-template" id='delete-sprint'>
      <!-- delete sprint -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Delete sprint: {{selectedSprint.title}}</h3>
      </div>
      <div class="modal-body">
        <p>Move the existing workitems from this sprint to</p>
        <select class='input-medium'
          chosen ng-model="shiftedSprint"
          ng-options="sprint.id as sprint.title for sprint in allowedSprints">
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button class="btn btn-primary" ng-click="hide();deleteSprint(shiftedSprint);">Save changes</button>
      </div>
    </script>
    
    <script type="text/ng-template" id='dashboard'>
      <div class='row-fluid'>
          <ul class="nav nav-pills">
              <li class='active'><a href='#/projects/{{project_id}}/dashboard'>Dashboard</a></li>
              <li><a href='#/projects/{{project_id}}/whiteboard'>Whiteboard</a></li>
              <li><a href='#/projects/{{project_id}}/timeline'>Timeline</a></li>
              <li><a href='#/projects/{{project_id}}/planning'>Planning</a></li>
          </ul>
      </div>
      <h1>Hello dashboard!</h1>
      <nvd3-pie-chart
        data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()">
        <svg height="250"></svg>
      </nvd3-pie-chart>
    </script>

    <script type="text/javascript" src="dist/utopia.min.js"></script>
</body>
</html>
