<!DOCTYPE html>
<html ng-app='utopia'>
	<head>
		<link rel="stylesheet" type="text/css" href="css\jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" type="text/css" href="css\bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css\bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="css\site.css">
		<title>Utopia</title>
	</head>
	<body>
		 <!-- Nav bar -->
		 <div class="navbar navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="./index.html">Utopia</a>
	          <div class="nav-collapse collapse menu-bar">
	            <ul class="nav">
	              <li class="">
	                <a href="#/under-contruction">Get started</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
    	</div>
    	<!-- Main body container -->
		<div class="container">
			<div ng-view>
			</div>
		</div>
		<footer class="footer">
	     	<div class="container">
	        	<p>A Chinmay Kulkarni production &copy 2013</p>
	      	</div>
	    </footer>

	    <!-- ng-templates -->
		<script type="text/ng-template" id="login">
		<!-- Login View -->
	    	<div class='row-fluid'>
				<div class='span9'>
				<!-- Login Carousel -->
				<div id="myCarousel" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				    <li data-target="#myCarousel" data-slide-to="3"></li>
				    <li data-target="#myCarousel" data-slide-to="4"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
				    	<h1>Agile project management</h1>
				    	<span>Simple yet powerful</span>
				    </div>
				    <div class="item">
				    	<h1>Interactive dashboards</h1>
				    	<span>Know the current state of your project</span>
				    </div>
				    <div class="item">
				    	<h1>Beautiful timeline view</h1>
				    	<span>Get to know who's working on what</span>
				    </div>
				     <div class="item">
				    	<h1>Emphasis on planning and testing</h1>
				    	<span>It's important</span>
				    </div>
				     <div class="item">
				    	<h1>Customizable whiteboards</h1>
				    	<span>Make Utopia your own!</span>
				    </div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
				</div>
				<!-- Login form -->
				<form class="span3 login-form">
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="email" id="username" placeholder="Email" ng-model='username' required>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputPassword">Password</label>
				    <div class="controls">
				      <input type="password" id="password" placeholder="Password" ng-model='password' required>
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
				        <input type="checkbox"> Remember me
				      </label>
				      <button type="submit" class="btn" ng-click='submit()'>Sign in</button>
				    </div>
				  </div>
				</form>
			</div>
	  	</script>

		<script type="text/ng-template" id="logout">
		<!-- Logout View -->
	    	<div class='row-fluid'>
	    		<h1>You have successfully logged out.</h1>
	    		<span>Click <a href='#/login'>here</a> to login.</span>
			</div>
	  	</script>

	  	<script type="text/ng-template" id="/">
		<!-- Landing View -->
	    	<div class='row-fluid'>
				<h1>My projects</h1>
				<div class='project' ng-repeat="project in projects">
					<h3>{{project.title}}</h3>
					<p>{{project.description}}</p>
				</div>
			</div>
	  	</script>

	  	<script type="text/ng-template" id="under-construction">
		<!-- under-contruction View -->
	    	<div class='row-fluid'>
				<h1>This page is under construction</h1>
			</div>
	  	</script>

    	<script type="text/javascript" src="scripts\jquery-2.0.min.js"></script>
    	<script type="text/javascript" src="scripts\bootstrap.min.js"></script>
    	<script type="text/javascript" src="scripts\angular.min.js"></script>
    	<script type="text/javascript" src="scripts\jquery-ui-1.10.3.custom.min.js"></script>
    	<script type="text/javascript" src="scripts\app.js"></script>
    	<script type="text/javascript" src="scripts\db.js"></script>
    	<script type="text/javascript" src="scripts\controllers.js"></script>
	</body>
</html>
