ul.nav.nav-pills.border-bottom.padding
   li
       a(href='#/project/{{project_id}}/summary') Project Summary
   li
       a(href='#/project/{{project_id}}/whiteboard') Whiteboard
   li
       a(href='#/project/{{project_id}}/timeline') Timeline
   li.active
       a(href='#/project/{{project_id}}/planning') Planning

   i.icon-cog.pull-right.hover-hand
h1 Hello Planning
