ul.nav.nav-pills.border-bottom.padding
   li.active
       a(href='#/partials/project/summary') Project Summary
   li
       a(href='#/partials/project/stories') Whiteboard
   li
       a(href='#/partials/project/stories') Timeline
   li
       a(href='#/partials/project/stories') Planning

h1 Hello Summary

