ul.nav.nav-pills.border-bottom.padding
   li.active
       a(href='#/project/{{project_id}}/summary') Project Summary
   li
       a(href='#/project/{{project_id}}/whiteboard') Whiteboard
   li
       a(href='#/project/{{project_id}}/timeline') Timeline
   li
       a(href='#/project/{{project_id}}/planning') Planning

h1 Hello Summary

