ul.nav.nav-pills.border-bottom.padding
   li
       a(href='#/project/{{project_id}}/summary') Project Summary
   li.active
       a(href='#/project/{{project_id}}/whiteboard') Whiteboard
   li
       a(href='#/project/{{project_id}}/timeline') Timeline
   li
       a(href='#/project/{{project_id}}/planning') Planning

   button.btn.btn-mini.pull-right( onclick="show_preferences(this,event)")
        i.icon-cog.hover-hand

h1 Hello Whiteboard

div.popover.fade.bottom.in
    div.arrow
    div.popover-inner(style='padding:10px;')
        div.popover-contentVivamus sagittis lacus vel augue laoreet rutrum faucibus.


