/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

.carousel-inner .item {
	height: 400px;
	padding:20px;
}

.carousel {
	background-color: gainsboro;
}

h1 {
	font-family: "Segoe UI Light"
}

.footer {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.login-form {
	border-bottom: 1px solid green;
}

.project {
	float: left;
	min-width: 200px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #f5f5f5;
}

.workitem:hover,
.project:hover {
	background-color: #e5e5e5;
	cursor: pointer;
}
.workitem {
	padding: 2px;
}

[resize] {
	height: inherit;
	overflow-y:scroll;
}

html, body {
	height: 100%;
	overflow: hidden;
	color: #4d4d4d;
	background-color: white;
}

.workitems {
	overflow-y:scroll;
	/*max-height: 500px;*/
}

.workitem.selected {
	background-color: #e5e5e5;
}
/*Custom scrollbar code*/

/* Let's get this party started */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	height: 10px;
	border-radius: 10px;
	background: gray; 
	-webkit-fade-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
}

.hover-hand {
	cursor: pointer;
}

.no-decoration {
	font-weight: normal;
	text-decoration: none;
}

.capitalize {
	text-transform: capitalize;
}

.custom-flash {
	padding : 8px;
	float: left;
	margin: 0px;
	-webkit-transition:all linear 0.3s;
	-moz-transition:all linear 0.3s;
	-ms-transition:all linear 0.3s;
	-o-transition:all linear 0.3s;
	transition:all linear 0.3s;
}

.hover-parent:hover .hover-child {
	display : block;
}

.hover-child {
	display: none;
}

.done-1, .done-true {
	text-decoration: line-through;
	color: silver;
}

/*timeline*/

.event .header {
	border-bottom: 1px solid #d6d6d6;
}

/*bootstrap overrides*/
.nav {
	margin-bottom: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.footer {
	padding: 5px;
}

.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5
}

/*angularjs animations*/
.animate-enter,.fade-enter {
	-webkit-transition: 0.25s linear all; /* Chrome */
	transition: 0.25s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

.fade-show-setup, .fade-hide-setup {
	-webkit-transition:all linear 0.3s;
	-moz-transition:all linear 0.3s;
	-ms-transition:all linear 0.3s;
	-o-transition:all linear 0.3s;
	transition:all linear 0.3s;
}

.fade-hide-enter {
	opacity: 0;
}
.fade-show-setup { opacity:0; }
.fade-show-setup.fade-show-enter { opacity:1;}

.fade-hide-setup { opacity:1; }
.fade-hide-enter { opacity:0; }