extends layout

block content
    form.form-horizontal.pull-right.login.border(style="margin-top:10px;")
        legend Login
        .control-group
            .controls
            input#inputEmail(type='text', placeholder='Email',type="email",required)
        .control-group
            .controls
            input#inputPassword(type='password', placeholder='Password')
        .control-group
            .controls
            label.checkbox
                input(type='checkbox')
                | Remember me
            button#submit.btn(type='submit',onclick="return false;") Sign in

block menu
    li
     a(href='#') About
    li
     a(href='#') Lets
    li
     a(href='#') See
    li
     a(href='#') Whats
    li
     a(href='#') Up