body {
    font-family: "Segoe UI", "Arial";
}

.logo {
    font-size: 34px;
    font-family: "Segoe UI Light";
    color: white;
    padding: 8px;
    float: left;
}

.border {
    border: 1px solid #DBDBDB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login {
    padding: 20px;
}

.site-container {
    max-width: 940px;
}

.hover-hand {
    cursor: pointer;
}

.hover-only-child {
    visibility: hidden;
}

.hover-only-parent:hover .hover-only-child {
    visibility: visible;
}

.border-bottom {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 5px;
}

.project-pane {
    text-overflow: ellipsis;
}

h1, h2 {
    font-family: "Segoe UI Light";
}

.capitalize {
    text-transform: capitalize;
}

.padding {
    padding: 5px;
}

.data-container {
    padding-bottom: 20px;
}

.top-margin {
    margin-top: 10px;
}

.light {
    font-family: "Segoe UI Light";
}

.ajax-loader {
    background: url("../images/ajax-loader.gif");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: none;
}

li {
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/* The 'hidden' state to transition from & to */
li.ui-animate {
    opacity: 0;
    max-height: 0;
    padding: 0 5px;
}

/**
* import components to builds angular-ui.css
*/

/* ui-reset */

.ui-resetwrap {
    position: relative;
    display: inline-block;
}

.ui-reset {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    height: 100%;
    cursor: pointer;
}

.ui-resetwrap:hover .ui-reset {
    display: block;
}

/* ui-currency */

.ui-currency-pos {
    color: green;
}

.ui-currency-neg {
    color: red;
}

.ui-currency-zero {
    color: blue;
}

.ui-currency-pos.ui-bignum,
.ui-currency-neg.ui-smallnum {
    font-size: 110%;
}

/* highlight */

.ui-match {
    background: yellow;
}

.hover-bg:hover {
    border-bottom: 2px solid #C7C7C7;
}

legend abbr{
    font-size:8px;
    color: #777;
    font-weight: bold;
    padding-left: 5px;
}