[{
    "need_review" : 1,
    "sprint_duration" : 4,
    "calculate_velocity_on" : "feature"
},
{
    "name" : "feature",
    "states" : ["started","finished","verified","resolved","reopened"]
},
{
    "name" : "bug",
    "states" : ["started","finished","verified","resolved","reopened"]
},
{
    "name" : "essential",
    "states" : ["started","finished","resolved"]
}]
