<!-- timeline View -->
<div nav="2"></div>
<div class="row-fluid" resize ng-style='style()' id='internal-view'>
    <div class='span3'>
        <div ut-filter-pane></div>
    </div>
    <div class="span9">
        <div class='align-right'>
        <label class="radio inline"><b>Sort by</b></label>
        <label class="radio inline">
          <input type="radio" name="grouping" id="optionsRadios1" ng-click="sortPredicate = 'user_id'; reverse=false;">
          User
        </label>
        <label class="radio inline">
          <input type="radio" name="grouping" id="optionsRadios2" ng-click="sortPredicate = 'workitem_id'; reverse=false;">
          Workitem
        </label>
        <label class="radio inline">
          <input type="radio" name="grouping" id="optionsRadios2" ng-click="sortPredicate = 'last_updated'; reverse=false;">
          Time
        </label>
        </div>
        <ul class="timeline unstyled">
        <li ng-repeat='l in logs | orderBy:sortPredicate:reverse' ng-switch='l.log_type' ng-animate=" 'animate' ">
            <span ng-switch-when="workitem_log">
                <span>
                    <i class="icon-edit"></i> {{getUser(l.user_id)}}
                    <small title='{{l.last_updated | date:"medium"}}' class='pull-right'>{{l.last_updated | amTimeAgo}}</small>
                </span>
                <span class="muted">changed </span>{{l.action}} 
                <span class="muted">from </span>{{getValue(l.old_value, l.action)}}
                <span class="muted">to </span>{{getValue(l.new_value, l.action)}} 
                    for
            </span>
            <span ng-switch-when="task_log">
                <span>
                    <i class="icon-ok"></i> {{getUser(l.user_id)}}
                    <small title='{{l.last_updated | date:"medium"}}' class='pull-right'>{{l.last_updated | amTimeAgo}}</small>
                </span>
                <span class="muted">completed task</span> {{l.task}}
            </span>
            <span ng-switch-when="comments">
                <span>
                    <i class="icon-comment"></i> {{getUser(l.user_id)}}
                    <small title='{{l.last_updated | date:"medium"}}' class='pull-right'>{{l.last_updated | amTimeAgo}}</small>
                </span>
                <span class="muted">commented</span> {{l.comment_body}}
                <span>
                    on 
                </span>
            </span>
            <span> workitem <button class='btn btn-small' type="button" data-placement="right" data-title="Workitem details" data-unique="1" bs-popover="'workitem-details'" ng-click="fetchDetails(l.workitem_id)">#{{l.workitem_id}}</button></span>
        </li>
        </ul>
    </div>
</div>